{% extends 'weather/wrapper.html' %}

{% block weather %}
    <div class="container d-flex justify-content-center align-items-center m-5">
        <form method="POST" class="w-50 d-flex flex-row">
            {% csrf_token %}
            <input type="text" class="form-control" name="city" placeholder="Digite o nome da cidade...">
            <button class="btn btn-primary" value="submit">Adicionar cidade</button>
        </form>
    </div>

    <div class="container">
        <div class="row w-100 d-flex flex-column justify-content-center align-items-center">
            {% for weather in weather_data %}
                <div class="col-8 w-auto m-4 pe-4 d-flex flex-row border border-light rounded">
                    <div>
                        <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png">
                    </div>

                    <div>
                        <div><h2>{{ weather.desc }}</h2></div>
                        <div><h2>{{ weather.city }} --- {{ weather.temp }}</h2></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
